<section class="detailedresult-section">
    <div class="card">
        <h1>Disease Prediction</h1>
        <p>Disease Name: Patellofemoral pain syndrome</p>
        <p>Accuracy: 80%</p>
        <p>Information about disease: Patellofemoral pain syndrome is a common cause of knee pain. It is caused by the irritation of the cartilage under the kneecap. The pain is usually located in the front of the knee and may be worse when going up or down stairs, squatting, or kneeling. Other symptoms may include swelling, stiffness, and clicking or grinding in the knee.</p>
        <p>Doctor to consult: Orthopedic doctor</p>
    </div>
    <a href="/detailed" class="goback-button">Go Back</a>
</section>